<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <ul>
            <% messages.forEach((user) => {%>
                <li>
                    <%= user.user %>
                    <%= user.text %>
                    <%= user.added %>
                </li>
            <%})%>
        </ul>
    </body>
</html>